@font-face{
    font-family: 'SN Pro';
    src: url('./assets/fonts/SN_Pro/SNPro-VariableFont_wght.ttf');
h1, h2, h3 {
    font-family: 'SN Pro', serif;
}
}    
 
body {
font-family: 'SN Pro', serif;
font-size: 15px;
background-color: rgb(255, 255, 255);
background-image: url('./assets/images/background.jpg');

p{
line-height: 1em;
text-align: justify;
}

img.profile-photo{
    display: block;
    width: 300px;
    height: auto;
    float: none;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin: 5px;
}

ul{
    list-style-type: square;
    margin: 0px; 
}
ul.illumination{
    list-style-type: outside;
}
h1 {
font-family: 'SN Pro', serif;
color: rgb(42, 89, 217);
background-color: rgb(239, 239, 239);
font-size: 50px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 0em;
word-spacing: 0em;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 2px black;
}

h2{
font-family: 'SN Pro', serif;
font-size: 30px;
color: rgb(255,255,255);
background-color: rgb(14, 133, 117);
opacity: 0.8;
}
h3{
font-family: 'SN Pro', serif;
font-size: 20px;
color: rgb(255, 255, 255);
background-color: rgb(217, 42, 89);
opacity: 0.8;
}

a:link {
color: rgb(32, 20, 255);
text-decoration: none;}
a:visited {
color: black;}
a:hover {
color: deeppink;
text-decoration: underline;}
a:active {
color: darkcyan;}


table {
width: 600px;}
th, td {
padding: 7px 10px 10px 10px;}
th {
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 90%;
border-bottom: 2px solid #111111;
border-top: 1px solid #999;
text-align: left;}
tr.even {
background-color: #efefef;}
tr:hover {
background-color: #c3e6e5;}
